<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Room or home</dt>
      <dd><%= @listing.room_or_home %></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Number of rooms</dt>
      <dd><%= @listing.number_of_rooms %></dd>

      <dt>Number of bathrooms</dt>
      <dd><%= @listing.number_of_bathrooms %></dd>

      <dt>Number of beds</dt>
      <dd><%= @listing.number_of_beds %></dd>

      <dt>Max occupants</dt>
      <dd><%= @listing.max_occupants %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>Policies</dt>
      <dd><%= @listing.policies %></dd>

      <dt>Default price</dt>
      <dd><%= @listing.default_price %></dd>

      <dt>Host</dt>
      <dd><%= @listing.host_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
