<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Room or home</dt>
      <dd><%= @listing.room_or_home %></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>Number of rooms</dt>
      <dd><%= @listing.number_of_rooms %></dd>

      <dt>Number of bathrooms</dt>
      <dd><%= @listing.number_of_bathrooms %></dd>

      <dt>Number of beds</dt>
      <dd><%= @listing.number_of_beds %></dd>

      <dt>Max occupants</dt>
      <dd><%= @listing.max_occupants %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>Policies</dt>
      <dd><%= @listing.policies %></dd>

      <dt>Default price</dt>
      <dd><%= @listing.default_price %></dd>

      <dt>Host</dt>
      <dd><%= @listing.host_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Listing has many pictures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pictures
      </li>

      <% @listing.pictures.each do |picture| %>
        <li class="list-group-item">
          <a href="/pictures/<%= picture.id %>">
            <%= picture.listing_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Listing has many bookings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookings
      </li>

      <% @listing.bookings.each do |booking| %>
        <li class="list-group-item">
          <a href="/bookings/<%= booking.id %>">
            <%= booking.listing_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Listing has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @listing.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.content %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
